<!-- 註冊帳號頁面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入共用的 head -->
    <option th:replace="~{layout/headTitle :: commonHeadTitle}"></option>
    
    <!-- 匯入按鈕樣式 -->
    <link rel="stylesheet" href="/css/components/buttonStyle.css">

    <!-- 匯入導覽列樣式 -->
    <link rel="stylesheet" href="/css/layout/navBar.css">

    <!-- 匯入表單通用樣式 -->
    <link rel="stylesheet" href="/css/forms/formCommon.css">
</head>
<body class="pinkTheme">
    <!-- 頁面標題 -->
    <h1 style="text-align: center;">Dinner Dive</h1>

    <!-- 表單容器：註冊會員 -->
    <div class="formContainer">
        <h1>會員註冊</h1>
         <!-- 註冊表單 -->
        <form id="registerForm">

            <!-- 帳號欄位 -->
            <div th:replace="~{fragments/loginForm :: usernameImput}"></div>

            <!-- 密碼欄位 -->
            <label for="userPassword">密碼：</label>
            <input type="password" id="userPassword"
                   placeholder="只能輸入英文和數字和特殊符號"
                   maxlength="256"
                   oninput="this.value = this.value.replace(/[^a-zA-Z0-9!@#$%^&*()_+\-=\\[\]{};':&quot;\\|,.&lt;&gt;\/?`~]/g, '')"
                   required/>

            <!-- 功能按鈕 -->
            <button type="submit" class="btn btn-default btn-wide">註冊</button>

            <!-- 導向登入頁 -->
            <button type="button" class="btn btn-default btn-wide"
                    onclick="window.location.href='/dinnerHome'">
                    已有帳號？點此登入
            </button>
        </form>
    </div>

    <!-- 處理會員註冊邏輯 -->
    <script type="module" src="/js/memberRegister.js"></script>
</body>
</html>