<!-- 首頁 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入共用的 head -->
    <option th:replace="~{layout/headTitle :: commonHeadTitle}"></option>
    <th:block th:replace="~{layout/commonStyles :: navButtonAndForm}"></th:block>

    <!-- 匯入表單內圖片通用樣式 -->
    <link rel="stylesheet" href="/css/imageStyle.css">

</head>
<body>
    <option th:replace="~{layout/navBar :: sharedNavBar}"></option>
    <div class="formContainer">
        <!--抽籤篩選-->
        <div class="filterContainer">
            <label for="categoryLabel">篩選類別：</label>
            <select id="categoryLabel">
                <option th:replace="~{modules/categoryButton :: foodCategoryAll}"></option>
            </select>
        </div>

        <!--顯示餐廳圖片-->
        <img id="imageUrl" class="restaurantImage" src="/images/start.jpg" alt="餐廳圖片"/>
        
        <!--顯示餐廳資訊-->
        <p>餐廳名稱：<span id="restaurantName"></span></p>
        <p>餐廳類別：<span id="category"></span></p>
        <p>選擇次數：<span id="visitedCount"></span></p>
        <p>最後選擇時間：<span id="lastSelectedAt"></span></p>
        <p>最後更新時間：<span id="updatedAt"></span></p>
        <p>備註：<span id="note"></span></p>

        <!--抽籤功能-->
        <button id="random-btn" class="btn btn-default btn-wide">抽！</button>
        <button id="choose-btn" class="btn btn-default btn-wide">就決定選這間！</button>

        <!-- 處理抽選餐廳邏輯 -->
        <script type="module" src="/js/randomRestaurant.js"></script>
        <!-- 處理選擇餐廳邏輯 -->
        <script type="module" src="/js/chooseRestaurant.js"></script>
    </div>
</body>
</html>