<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <th:block th:fragment="navAndButton">
      <link rel="stylesheet" href="/css/components/buttonStyle.css" />
      <link rel="stylesheet" href="/css/layout/navBar.css" />
    </th:block>

    <th:block th:fragment="navButtonAndForm">
      <link rel="stylesheet" href="/css/components/buttonStyle.css" />
      <link rel="stylesheet" href="/css/layout/navBar.css" />
      <link rel="stylesheet" href="/css/forms/formCommon.css" />
    </th:block>

    <th:block th:fragment="navButtonAndTable">
      <link rel="stylesheet" href="/css/components/buttonStyle.css" />
      <link rel="stylesheet" href="/css/layout/navBar.css" />
      <link rel="stylesheet" href="/css/components/tableStyle.css" />
    </th:block>
  </body>
</html>
