<!-- 導覽列共用設定 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- 可在其他頁面中使用最上方的導覽列 -->
    <th:block th:fragment="sharedNavBar">
        <nav class="navBar">

            <!-- 導覽列標題 -->
            <!-- <div class="logo">🍜 美食地圖</div> -->

            <!-- 帳號名稱 -->
            <div class="logo" th:text="'Hello！' + ${username}"></div>
            <!-- 帳號權限 -->
            <div class="role-info">
                <span class="label-bold role-info__permission" th:text="帳號權限： + ${roles}"></span>
                <span
                    class="label-bold role-info__hint"
                    th:if="${roles == '一般使用者'}"
                >
                    （提示：一般使用者無法刪除餐廳與餐點）
                </span>
            </div>

            <!-- 導覽選單項目 -->
            <ul class="navLinks">
                 <!-- 導向首頁（隨機餐廳推薦） -->
                <li><a href="/dinnerHome/randomRestaurant" class="navButton navButton--coffee">抽餐廳</a></li>
                
                <!-- 導向新增餐廳頁面 -->
                <!-- <li><a href="/dinnerHome/createRestaurant">新增餐廳</a></li> -->

                <!-- 餐廳清單 -->
                <li><a href="/dinnerHome/listRestaurant" class="navButton navButton--coffee">餐廳一覽</a></li>

                <!-- 登出按鈕（POST 請求） -->
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="navButton">登出</button>
                    </form>
                </li>
            </ul>
        </nav>
    </th:block>
</body>
</html>